#!/bin/sh
{% if BADGR_SERVER_USE_GIT_IDENTITY %}
exec /usr/bin/ssh -o StrictHostKeyChecking=no -i {{ badgr_server_git_identity }} "$@"
{% else %}
exec /usr/bin/ssh -o StrictHostKeyChecking=no "$@"
{% endif %}
